<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="/correo">enviar un correo</a><br>
    <a href="/agregar_categoria"> ir a la categorias</a><br>
    <a href="/agregar_producto">agregar producto</a><br>
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id_del_producto }}</td>
                <td>{{ producto.nombre_del_producto }}</td>
                <td>{{ producto.precio_del_producto }}</td>
                <td>{{ producto.categoria_del_producto }}</td>
                <td>
                    <a href="/editar_producto/{{ producto.id_del_producto }}">Editar</a>
                    <a href="/eliminar-producto/<idProducto>" onclick="eliminarProducto({{ producto.id_del_producto }})">Eliminar</a>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>